<td>
    {% if noShowLink is not defined %}
        <a href="{{ path('app_' ~ name ~ '_show', {'id': row.id}) }}"><i class="bi-sunglasses"></i></a>
    {% endif %}
    {% if attribute(row, 'user') is not defined or attribute(row, 'user') is not empty %}
        <a href="{{ path('app_' ~ name ~ '_edit', {'id': row.id}) }}"><i class="bi-pencil-fill"></i></a>
        {% include 'other/delete.html.twig' %}
    {% endif %}
    {% if subName is defined and (attribute(row, 'user') is not defined or attribute(row, 'user') is not empty) %}
        <a href="{{ path('app_' ~ subName ~ '_index', {(name ~ '_id'): row.id}) }}"><i class="{{ subLogo }}"></i></a>
    {% endif %}
</td>
