{% if attribute(row, 'user') is not defined or attribute(row, 'user') is not empty %}
    <div class="end-link"><a href="{{ path('app_' ~ name ~ '_edit', {'id': row.id}) }}">{{ 'edit'|trans }}</a></div>
{% endif %}
{% include 'other/back_link.html.twig' %}
