{% if noList is not defined %}
    <div class="end-link"><a href="{{ path('app_' ~ name ~ '_index', parameters) }}">{{ 'back'|trans }}</a></div>
{% endif %}
{% if topRoute is defined %}
    <div class="end-link"><a href="{{ path(topRoute, topParameters) }}">{{ (name ~ '.topName')|trans }}</a></div>
{% endif %}
{% if subName is defined and action != 'create' %}
    <div class="end-link"><a href="{{ path('app_' ~ subName ~ '_index', {(name ~ '_id'): row.id}) }}">{{ (name ~ '.subName')|trans }}</a></div>
{% endif %}
{% if resetPassword is defined %}
    <div class="reset end-link"><a href="{{ path('app_forgot_password_request') }}">{{ ('forgotPassword')|trans }}</a></div>
{% endif %}
