{% extends 'base.html.twig' %}
{% block title %}{{ (name ~ '.' ~ action ~ '.title')|trans }} - {{ 'project.full'|trans }}{% endblock %}
{% block body %}
    <h2>{{ (name ~ '.' ~ action ~ '.title')|trans }}</h2>
    {% include 'other/flashes.html.twig' %}
    {% if text is defined and text is not empty %}
        <span>{{ text|trans }}</span><br /><br />
    {% endif %}
    {% include 'other/form.html.twig' %}
    {% include name ~ '/additions.html.twig' ignore missing %}
    {% include 'other/back_link.html.twig' %}
    {% if action == 'edit' %}
        {% include 'other/delete.html.twig' %}
    {% endif %}
{% endblock %}
