<div class="end-link"><a href="{{ path('app_' ~ name ~ '_create', parameters) }}">{{ 'create'|trans }}</a></div>
{% if topRoute is defined %}
    <div class="end-link"><a href="{{ path(topRoute, topParameters) }}">{{ (name ~ '.topName')|trans }}</a></div>
{% endif %}
{% if sendMails is defined %}
    <div class="end-link"><a href="{{ path('app_application_emails') }}">{{ ('sendApplicationEmails')|trans }}</a></div>
    <div class="end-link"><a href="{{ path('app_application_close') }}">{{ ('endApplications')|trans }}</a></div>
{% endif %}
