{% if noDelete is not defined and (attribute(row, 'user') is not defined or attribute(row, 'user') is not empty) %}
    {% if action != 'index' %}
        {% set formName = 'delete' %}
        {% set buttonId = 'deletebutton' %}
        <div class="end-link"><a id="delete-link--{{ 'deleteConfirm'|trans }}" href="#">{{ 'delete'|trans }}</a></div>
    {% else %}
        {% set formName = 'delete-' ~ row.id %}
        {% set buttonId = 'deletebutton-' ~ row.id %}
        <a id="delete-link-index--{{ row.id }}--{{ 'deleteConfirm'|trans }}" href="#"><i class="bi-trash-fill"></i></a>
    {% endif %}
    <form name="{{ formName }}" class="inline" method="post" action="{{ path('app_' ~ name ~ '_delete', {'id': row.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ row.id) }}">
        <input id="{{ buttonId }}" class="invisibility" type="submit" name="submit" value="{{ 'delete'|trans }}">
    </form>
{% endif %}
