{% set messages = app.flashes('error') %}
{% if (error is defined and error is not empty) or messages is not empty %}
    <div class="alert alert-danger alert-dismissible fade show">
{% if error is defined and error is not empty %}
    <br /><span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
{% endif %}
{% for message in messages %}
    <br /><span>{{ message|trans }}</span>
{% endfor %}
{% if link is defined and link is not empty %}
    <br /><span>{{ 'login.login.sendEmail'|trans }} <a href="{{ link }}">{{ 'login.login.link'|trans }}</a>.</span>
{% endif %}
    <br />&nbsp;
</div>
{% endif %}
{% set messages = app.flashes('success') %}
{% if messages is not empty %}
    <div class="alert alert-success alert-dismissible fade show">
{% for message in messages %}
    <br /><span>{{ message|trans }}</span>
{% endfor %}
    <br />&nbsp;</div>
{% endif %}
