{% block form_row %}
    <div class="mb-3">
        <div class="left-form"><i class="bi-question-circle helplogo"><span class="helpText">{{ form_help(form) }}</span></i> {{ form_label(form) }}</div>
        <div class="right-form">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}
