{% if noForm is not defined %}
    {% form_theme form 'other/form_standard.html.twig' %}
    {{ form_start(form) }}
        {{ form_row(form) }}
    {{ form_end(form) }}
    {% if noMandatory is not defined %}<div class="form-end">{{ 'mandatoryFields'|trans }}</div>{% endif %}
{% endif %}
