{% extends 'base.html.twig' %}
{% block title %}{{ (name ~ '.index.title')|trans }} - {{ 'project.full'|trans }}{% endblock %}
{% block body %}
    <h2>{{ (name ~ '.index.title')|trans }}</h2>
    {% include 'other/flashes.html.twig' %}
    <table class="table">
        <thead>
        <tr>
            {% for column in columns %}
                {% include 'other/name.html.twig' %}
            {% endfor %}
            <th>{{ 'actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                {% for column in columns %}
                    {% include 'other/value.html.twig' %}
                {% endfor %}
                {% include 'other/action_links.html.twig' %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ (columns|length + 1) }}"><span>{{ 'noDataFound'|trans }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if rows.getNbPages > 1 %}{{ pagerfanta(rows) }}{% endif %}
    {% include 'other/create_link.html.twig' %}
{% endblock %}
