{% if (column.noIndex is not defined and action == 'index') or (column.noShow is not defined and action == 'show') %}
    {% set row_name = (column.id) %}
    {% if column.name is defined %}
        {% set row_name = (column.name) %}
    {% endif %}
    <th>{{ ('form.' ~ row_name ~ '.label')|trans }}</th>
{% endif %}
