{% extends 'base.html.twig' %}
{% block title %}{{ (name ~ '.show.title')|trans }} - {{ 'project.full'|trans }}{% endblock %}
{% block body %}
    <h2>{{ (name ~ '.show.title')|trans }}</h2>
    <table class="table">
        <tbody>
        {% for column in columns %}
            <tr>
                {% include 'other/name.html.twig' %}
                {% include 'other/value.html.twig' %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'other/action_links2.html.twig' %}
    {% include 'other/delete.html.twig' %}
{% endblock %}
