{% if (column.noIndex is not defined and action == 'index') or (column.noShow is not defined and action == 'show') %}
    {% set row_value = '' %}
    {% if column.object is defined %}
        {% if column.id is iterable %}
            {% for id in column.id %}
                {% set row_value = attribute(row, column.name) ? row_value ~ ' ' ~ attribute(attribute(row, column.name), id) : row_value ~ '' %}
            {% endfor %}
            {% set row_value = row_value|trim %}
        {% else %}
            {% set row_value = attribute(row, column.name) ? attribute(attribute(row, column.name), column.id) : '' %}
        {% endif %}
    {% elseif column.multiples is defined %}
        {% set row_value = '' %}
        {% for object in column.multiples %}
            {% set row_value = attribute(attribute(row, column.name), object) ? row_value ~ attribute(attribute(attribute(row, column.name), object), column.id) : row_value ~'' %}
        {% endfor %}
    {% else %}
        {% set row_value = attribute(row, column.id) %}
    {% endif %}
    <td>
    {% if column.type is defined and column.type == 'date' %}
        {{ row_value ? row_value|date('d.m.Y') : '' }}
    {% elseif column.type is defined and column.type == 'bool' %}
        {{ row_value ? 'yes'|trans : 'no'|trans }}
    {% elseif column.type is defined and column.type == 'link' and row_value is not empty %}
        <a href="{{ row_value }}" target=" _blank">{{ 'link'|trans }}</a>
    {% elseif row_value is not empty and column.target is defined and action == 'show' %}
        <a href="{{ column.target|replace({'{id}': attribute(row, column.name).id}) }}" target=" _blank">{{ row_value }}</a>
    {% else %}
        {{ row_value|nl2br }}
    {% endif %}
    </td>
{% endif %}
