
/*=================================
-----------------------------------
  SolMusic HTML Template
  Version: 1.0
 ---------------------------------
 =================================*/



/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	height: 100%;
	width: 100%;
	min-width: 1500px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #0a183d;
	font-weight: 600;
	line-height: 1;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
	padding: 10px 0 30px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #6a7080;
	line-height: 1.8;
	font-weight: 500;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

a:hover, .header-right ul li a:hover, .header-right ul.sub-menu li a:hover {
	color: #6c757d;
}

/*---------------------
Commom elements
 -----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 195px;
	padding: 23px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #fc0254;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-c2 {
	background: #383b70;
}

/*------------------
Header section
 ---------------------*/

.header-section {
	position: absolute;
	top: 0;
	width: 100%;
	height: 130px;
	background: #007bff;
	border-bottom-right-radius: 30%;
}

.header-left {
	width: 500px;
	height: 100%;
	float: left;
}

.header-left h1 {
	padding-bottom: 10px;
	padding-left: 30px;
	font-size: 56px;
	color: #fff;
}

.header-left h1.right {
	text-align: right;
}

.header-right {
	float: right;
	line-height: 0.7;
	width: 1000px;
	margin: 55px 0;
}

.header-right ul {
	list-style: none;
	float: left;
}

.header-right ul li {
	display: inline-block;
	position: relative;
	margin: 0 25px;
}

.header-right ul li a {
	display: block;
	font-size: 28px;
	color: #fff;
	float: left;
}

.header-right ul li:hover .sub-menu {
	visibility: visible;
	display: block;
	opacity: 1;
	margin-top: 0;
	text-align: center;
}

.header-right ul li ul.sub-menu {
	position: absolute;
	list-style: none;
	top: 100%;
	padding: 10px 0;
	visibility: hidden;
	display: none;
	border: 1px solid #000;
	opacity: 0;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.header-right ul li ul.sub-menu li {
	display: block;
	font-size: 28px;
	color: #000;
	float: left;
	margin: 0;
	padding: 10px 0;
}

.header-right ul li ul.sub-menu li a {
	display: block;
	color: #000;
	font-size: 20px;
	width: 230px;
}

/*------------------
Other
 ---------------------*/

.body-section {
	background: #fff;
	height: 100%;
	width: 100%;
	display:table;
	margin: 0 auto;
}

.content-section {
	position: absolute;
	top: 130px;
	bottom: 80px;
	width: 100%;
	padding: 10px;
	overflow: scroll;
	overflow-x: hidden;
}

.footer-section {
	background: #007bff;
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top-left-radius: 30%;
}

.header-section, .content-section, .footer-section {
	display:table-row;
}

.footer-widget {
	padding-top: 2px;
}

.footer-widget h2 {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li a {
	display: inline-block;
	color: #6a7080;
	font-size: 14px;
	margin-bottom: 10px;
}

/* ----------------
Other pages
 -------------------*/

.search-form {
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

.search-form input {
	width: 100%;
	height: 60px;
	padding-left: 41px;
	padding-right: 175px;
	border: none;
	border-radius: 80px;
	font-size: 15px;
	background: #d0d7db;
}

.search-form button {
	position: absolute;
	height: 60px;
	min-width: 167px;
	right: 0;
	top: 0;
	border: none;
	border-radius: 80px;
	color: #fff;
	font-size: 15px;
	background: #fc0254;
}

.site-pagination a {
	color: #6a7080;
	font-size: 14px;
	display: inline-block;
	margin-right: 5px;
	font-weight: 500;
}

.site-pagination a:hover,
.site-pagination a.active {
	color: #3c455f;
}

textarea.form-control {
	height: 200px;
}

.right-form div div div div.invalid-feedback {
	display: inline!important;
	padding: 0;
	margin: 0;
	border: 0;
	transition: none;
	background-color: transparent;
	color: #dc3545;
	width: auto;
}

.right-form div div.invalid-feedback {
	display: block!important;
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid #f5c6cb;
	border-radius: 0.25rem;
	transition: opacity .15s linear;
	color: #721c24;
	background-color: #f8d7da;
	width: 980px;
	font-size: 100%;
}

.right-form div.invalid-feedback {
	display: none!important;
}

.inline {
	display: inline;
}

.emptyfilter {
	font-size: 20px;
	position: relative;
	top: 4px;
	left: 10px;
}

th {
	min-width: 210px;
}

input.filter, select.filter {
	width: 185px;
	padding: .375rem .75rem;
}

input.filter-date {
	width: 145px;
	padding: .375rem .75rem;
}

select.filter-select {
	float: left;
	width: 35px;
	padding: .375rem 0;
	margin-right: 5px;
}

select.is-invalid {
	border-color: #dc3545;
}

td a i {
	padding-right: 10px;
}

.green {
	color: #0b0;
}

.setsort:hover {
	cursor: pointer;
}

.green:hover {
	cursor: auto;
}

.form-end, .reset {
	clear: both;
}

label.required:after {
	content: ' *';
}

.left-form {
	width: 230px;
}

.right-form {
	width: 750px;
}

.form-check-label {
	position: relative;
	left: -220px;
}

.helpText {
	visibility: hidden;
	width: max-content;
	max-width: 960px;
	background-color: #555;
	color: #fff;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	opacity: 0;
	margin-left: -10px;
	transition: opacity 0.3s;
}

.helplogo:hover .helpText {
	visibility: visible;
	opacity: 1;
}

i.helplogo, .left-form, .invisibility {
	display: none;
}

form div div div div.mb-3 div.left-form, form div div div div.mb-3 div.right-form {
	display: block;
}

form div div div div.mb-3 i.helplogo {
	position: relative;
	display: inline-block;
	width: 17px;
	margin-right: 13px;
}

form button.btn {
	margin: 20px 0;
}

label {
	width: 180px;
}

div.right-form div div.mb-3 {
	width: 980px;
}

.mb-3:last-of-type {
	margin-bottom: 0!important;
}

label, .form-control, .form-check-input, .form-select, .invalid-feedback, .left-form, .right-form,
form div div div.mb-3 i.helplogo, .end-link, .mb-3 {
	float: left;
}

.form-control, .form-select {
	width: 750px;
}

.invalid-feedback {
	width: 750px;
}

.end-link {
	padding: 20px 20px 0 0;
}

/* ----------------
Media Queries
 -------------------*/

@media (min-width: 1000px) and (max-width: 1499px) {
	.header-left {
		width: 350px;
	}

	.header-left h1 {
		padding-left: 10px;
		font-size: 40px;
	}

	.header-left h1.left {
		padding-top: 19px;
	}

	.header-right {
		width: 650px;
	}

	.header-right ul li {
		margin: 0 10px;
	}

	.header-right ul li a {
		font-size: 20px;
	}

	.form-control, .form-select, .invalid-feedback {
		width: 730px;
	}

	.right-form {
		width: 730px;
	}

	.right-form div div.invalid-feedback {
		width: 960px;
	}

	.helpText {
		max-width: 730px;
	}

	.content-section {
		overflow-x: scroll;
	}
}

@media (min-width: 700px) and (max-width: 999px) {
	.header-left {
		width: 700px;
		height: 50%;
	}

	.header-left h1 {
		padding-left: 10px;
		font-size: 58px;
	}

	.header-left h1.left {
		padding-top: 10px;
		float: left;
	}

	.header-left h1.right {
		padding-top: 10px;
		padding-left: 0;
		float: left;
	}

	.header-right {
		width: 700px;
		height: 30%;
		margin: 30px 0;
		float: left;
		clear: both;
	}

	.header-right ul li {
		margin: 0 10px;
	}

	.header-right ul li a {
		font-size: 22px;
	}

	.form-control, .form-select, .invalid-feedback {
		width: 430px;
	}

	.right-form {
		width: 430px;
	}

	.right-form div div.invalid-feedback {
		width: 660px;
	}

	.helpText {
		max-width: 430px;
	}

	.content-section {
		overflow-x: scroll;
	}
}

@media (max-width: 699px) {
	.form-control, .form-select {
		width: 100%;
	}

	.header-left {
		width: 460px;
		height: 50%;
	}

	.header-left h1 {
		padding-left: 10px;
		font-size: 38px;
	}

	.header-left h1.left {
		padding-top: 10px;
		float: left;
	}

	.header-left h1.right {
		padding-top: 10px;
		padding-left: 0;
		float: left;
	}

	.header-right {
		width: 460px;
		height: 30%;
		margin: 20px 0;
		float: left;
		clear: both;
	}

	.header-right ul li {
		margin: 0 10px;
	}

	.header-right ul li ul.sub-menu li a {
		font-size: 13px;
		width: 160px;
	}

	.header-right ul li a {
		font-size: 13px;
	}

	.form-control, .form-select, .invalid-feedback {
		width: 190px;
	}

	.right-form {
		width: 190px;
	}

	.right-form div div.invalid-feedback {
		width: 420px;
	}

	.helpText {
		max-width: 190px;
	}

	.content-section {
		overflow-x: scroll;
	}
}
