<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="body-section">
    <header class="header-section clearfix">
        <div class="header-left">
            <h1 class="left">{{ 'project.part1'|trans }}</h1>
            <h1 class="right">{{ 'project.part2'|trans }}</h1>
        </div>
        <div class="header-right">
            <ul>
            {% if app.user %}
                <li><a href="{{ path('app_application_index') }}">{{ 'application.index.title'|trans }}</a></li>
                <li><a href="#">{{ 'data'|trans }}</a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('app_email_index') }}">{{ 'email.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_placeholder_index') }}">{{ 'placeholder.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_company_index') }}">{{ 'company.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_recruiter_index') }}">{{ 'recruiter.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_job_market_index') }}">{{ 'job_market.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_job_title_index') }}">{{ 'job_title.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_gender_index') }}">{{ 'gender.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_title_index') }}">{{ 'title.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_event_index') }}">{{ 'event.index.title'|trans }}</a></li>
                        <li><a href="{{ path('app_export_index') }}">{{ 'export.export.title'|trans }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('app_user_edit', {'id': app.user.id}) }}">Mein Account</a></li>
                <li><a href="{{ path('app_logout') }}">{{ 'login.login.logout'|trans }}</a></li>
            {% elseif not app.user %}
                <li><a href="{{ path('app_login') }}">{{ 'login.login.title'|trans }}</a></li>
            {% endif %}
            </ul>
        </div>
    </header>
    <div class="content-section">{% block body %}{% endblock %}</div>
    <footer class="footer-section"></footer>
</div>
</body>
</html>
