{% extends 'base.html.twig' %}
{% block title %}{{ ('error404.title')|trans }} - {{ 'project.full'|trans }}{% endblock %}
{% block body %}
    <h2>{{ ('error404.title')|trans }}</h2>
    <p>{{ 'error404.notFound'|trans }}</p>
    <p>{{ 'error404.navigate'|trans }}</p>
{% endblock %}
