{% extends 'base.html.twig' %}
{% block title %}{{ ('error.title')|trans }} - {{ 'project.full'|trans }}{% endblock %}
{% block body %}
    <h2>{{ ('error.title')|trans }}</h2>
    <p>{{ 'error.description'|trans }}</p>
    <p>{{ 'error.navigate'|trans }}</p>
{% endblock %}
