{% trans_default_domain 'messages' %}
<h1>{{ 'user.verify.title'|trans }}</h1>
<p>
    {{ 'user.verify.confirm'|trans }}:<br>
    <a href="{{ signedUrl|raw }}">{{ 'user.verify.link'|trans }}</a><br><br>
    {{ 'user.verify.valid'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
