{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password_request.check_email.title'|trans }} - {{ 'project.full'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'reset_password_request.check_email.title'|trans }}</h2>
    <p>
        <span>{{ 'reset_password_request.check_email.exist'|trans }}</span>
        <span>{{ 'reset_password_request.check_email.valid'|trans }}</span> {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p><span>{{ 'reset_password_request.check_email.spam'|trans }}</span> <a href="{{ path('app_forgot_password_request') }}">{{ 'reset_password_request.check_email.link'|trans }}</a>.</p>
{% endblock %}
