<h1>{{ 'reset_password_request.email.title'|trans }}</h1>

<p>{{ 'reset_password_request.email.reset'|trans }}:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ 'reset_password_request.email.link'|trans }}</a>

<p>{{ 'reset_password_request.email.valid'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
